@page
@model booky2.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
}

<h1>Catalog</h1>
<form method="POST">
    <div id="books">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Title</td>
                            <td>@book.Author.FirstName @book.Author.LastName</td>
                            <td>@book.Genre</td>
                            <td>@book.Price</td>
                            <td method="POST">
                                <button type="submit" asp-page-handler="delete" asp-route-id="@book.Id">Delete</button>
                                <button type="submit" asp-page="./Edit" asp-route-id="@book.Id">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<a asp-page="./Create">Create</a>
<a asp-page="./Index">Index</a>
