@page "{id:int}"
@model booky2.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Book.Title</h1>

<form method="POST">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="@Model.Book.Title"></label>
        <div>
            <input asp-for="@Model.Book.Title" />
        </div>
    </div>
    <div hidden>
        <label asp-for="@Model.Book.Author"></label>
        <div>
            <input asp-for="@Model.Book.Author" />
        </div>
    </div>
    <div hidden>
        <label asp-for="@Model.Book.Id"></label>
        <div>
            <input asp-for="@Model.Book.Id" />
        </div>
    </div>
    <div>
        <label asp-for="@Model.Book.Genre"></label>
        <div>
            <input asp-for="@Model.Book.Genre" />
        </div>
    </div>
    <div>
        <label asp-for="@Model.Book.Price"></label>
        <div>
            <input asp-for="@Model.Book.Price" />
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>